@page "/ant_sample_one"

<PageTitle>Index</PageTitle>

<Button Type="primary">Hello World!</Button>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div>
    Buttons
</div>

<p role="status">Current count: @currentCount</p>

<div>
    <Button Type="@ButtonType.Primary" @onclick="DecrementCount">Decrement</Button>
    <Button>Default</Button>
    <Button Type="@ButtonType.Primary" @onclick="IncrementCount">Increment</Button>
    <Button Type="@ButtonType.Text">Text</Button>
    <Button Type="@ButtonType.Link">Link</Button>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        GlobalCounter.Counter++;
    }

    private void DecrementCount()
    {
        GlobalCounter.Counter--;
    }
}
